.ra-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  padding-top: 10%;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  .ra-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 20px;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}